@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  scroll-behavior: smooth;
}

body, h1, h3, h6, p {
  font-family: Lato, regular;
}

.hero-section {
  padding-top: 400px;
  padding-bottom: 400px;
  background-image: url(../images/nevada-sun.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  //choose between top-center or top-right -290px in a media query
  background-position: top center;
  h1, h3 {
    margin-left: 5rem;
  }
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

a {
  color: black;
}

.top-bar {
  //background: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .1);
}

.drop-down-menu {
  margin-top: 55px;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .1);
}

.menu-links {
  display: flex;
  justify-content: space-around;
}

.menu-bars {
  padding: .7rem 1rem;
}

.products {
  padding-top: 100px;
  padding-bottom: 400px;
}

.products-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  a {
    align-self: end;
    padding-bottom: .6rem;
  }
}

.product-tile {
  padding: 5px;
  text-align: center;
  cursor: pointer;
  img {
    border-radius: 1rem;
  }
  transition: all .3s;
  input {
    max-width: 100%;
  }
}

.product-tile:hover {
  transform: scale(1.15);
}

.category-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

hr {
  margin-top: 0;
}

.category-button {
  text-align: center;
  margin: 0;
  padding: 0 .55rem;
  border: solid black;
  border-radius: .5rem;
  background-color: white;
  color: black;
  transition: all .3s;
}

input {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: black;
  color: white;
}

.show-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 7rem;
  padding-left: 4vw;
  padding-right: 4vw;
  .left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    i {
      transform: scale(5);
    }
    i:active {
      transform: scale(4);
    }
    img {
      width: 75%;
    }
  }
  .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .button {
      width: 100%;
      height: 4rem;
      font-size: larger;
    }
  }
}

.basket-page {
  margin-top: 5rem;
}

.basket-item {
  display: flex;
  flex-direction: row;
  img {
    width: 10rem;
    padding: .5rem;
    border-radius: 1rem;
  }
  .item-details {
    width: 32rem;
  }
}

.quantity-stepper {
  display: flex;
  flex-direction: row;
  margin-right: 14rem;
  height: 2rem;
  border-radius: 1rem;
  font-size: 25px;
  p {
    padding: 0 1rem;
  }
  .stepper-button {
    cursor: pointer;
  }
}

.item-price {
  text-align: end;
  .delete-button {
    background-color: red;
  }
}

.subtotal-section {
  text-align: right;
  .subtotal-container {
    display: inline-flex;
    flex-direction: column;
    min-width: calc(15vw + 134px);
    .subtotal {
      display: inline-flex;
      justify-content: space-between;
    }
  }
}

.empty-message {
  text-align: center;
}

.basket-count-bubble {
  position: absolute;
  background-color: orange;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  bottom: .1rem;
  right: .5rem;
}

.checkout {
  margin-top: 4rem;
  text-align: center;
}

.success {
  margin-top: 5rem;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.manage-products-page {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  section {
    display: flex;
    align-items: center;
    h3 {
      padding: 0 1rem;
    }
  }
}

.inventory-tile {
  width: 900px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 75px;
  }
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .1);
  border-radius: 1rem;
}

.product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 1rem;
  border: solid;
  border-radius: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
  margin-bottom: 2rem;
  section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
}

.variation-tile {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  border: solid;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
  section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  img {
    width: 150px;
  }
}

.size-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h6 {
    margin-left: 1rem;
  }
}

.edit-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  textarea {
    border-radius: 1.5rem;
    width: 25rem;
    height: 5rem;
  }
}

.edit-stock-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  input {
    width: 3.5rem;
  }
}

@media (min-width: 500px){
  .hide-on-large-screens{
    display: none;
  }
}

@media (max-width: 499px) {
  .nav-link {
    display: none;
  }
  
  .hero-section {
    h1, h3{
      margin-left: 0rem;
    }
    text-align: center;
  }
}

@media (max-width: 723px) {
  .products-header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.25rem;
    max-width: 100%;
  }
  
  .category-button {
    border: none;
  }
}

@media (min-width: 723px) {
  .category-button {
    min-width: 5rem;
    margin-right: 0;
  }
}

@media (max-width: 900px) {
  .show-page {
    flex-direction: column;
    .left-side {
      width: 100%;
      margin-bottom: 2rem;
      img {
        width: 90%;
      }
      i {
        transform: scale(2.5);
      }
    }
    .right-side {
      width: 100%;
      text-align: center;
      h1 {
        font-size: 1.875rem;
      }
    }
  }
}